<a href="productos"> <button style="border-radius: 40px; margin-left: 20%" type="button" class="btn btn-primary" ><i class="fa-solid fa-backward"></i>Atras</button></a>
    <div class="d-flex justify-content-center text-center">
   
        <h1>Añadir producto</h1>

        <form id="margenForm" onsubmit="registrar(event)">
        <h5 style="font-weight: bold; padding: 2%">Datos del producto</h5>
        <div style="padding-top: 5%;" class="d-flex justify-content-center text-center align-items: center">
            <div class="form-group">
                <div class="col">
                    <label for="name">Id producto</label>
                    <div class="input-group">
                        <input id="id_producto" style="border-radius: 40px" type="number" class="form-control" >
                    </div>
                </div>
                 <div class="col">
                    <label for="name">Precio compra</label>
                    <div class="input-group">
                        <input id="precio_compra" style="border-radius: 40px" type="number" class="form-control" >
                    </div>
                </div>
                 <div class="col">
                    <label for="name">Cantidad</label>
                    <div class="input-group">
                        <input id="cantidad" style="border-radius: 40px" type="number" class="form-control" >
                    </div>
                </div>
                <div class="col">
                    <label for="exampleFormControlSelect1">Estado</label>
                    <select id="estado" style="border-radius: 40px" class="form-select" id="exampleFormControlSelect1" >
                        <option ></option>
                        <option >Activo</option>
                        <option >Inactivo</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col">
                    <label for="name">Nombre</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        </div>
                        <input id="nombre_producto" style="border-radius: 40px" type="text" class="form-control" >
                    </div>
                </div>
                <div class="col">
                    <label for="name">Precio venta</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        </div>
                        <input id="precio_venta" style="border-radius: 40px" type="number" class="form-control" >
                    </div>
                </div>
                <div class="col">
                    <label for="name">Stock minimo</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        </div>
                        <input id="stockMinimo" style="border-radius: 40px" type="number" class="form-control" >
                    </div>
                </div>
                <div class="col">
                    <label for="name">Stock maximo</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                        </div>
                        <input id="stockMaximo" style="border-radius: 40px" type="number" class="form-control" >
                    </div>
                </div>
            </div>

        </div>
<div class="d-flex justify-content-center text-center">
    <button id="btnRegistrar" style="border-radius: 40px; margin-top: 3%;" type="button" class="btn btn-primary"   name="action"><i class="fa-solid fa-plus"></i>Registrar</button>
    <script src="./js/anadirProducto.js"></script>  
    </form>
    </div>



   
</div>
