<a href="permisos"> <button style="border-radius: 40px; margin-left: 20%" type="button" class="btn btn-primary"><i
            class="fa-solid fa-backward"></i>Atras</button></a>
<div class="d-flex justify-content-center text-center">

    <h1>Editar Permiso</h1>

    <form id="margenForm" onsubmit="editar(event)">
        <h5 style="font-weight: bold; padding: 2%">Datos del Permiso</h5>
        <div style="padding-top: 5%;" class="d-flex justify-content-center text-center align-items: center">
            <div class="form-group">
                <div class="col">
                    <label for="name">Id Pemiso:</label>
                    <div class="input-group">
                        <input id="idPermiso" style="border-radius: 40px" type="text" class="form-control" value="1"
                            placeholder="1" disabled>
                    </div>
                </div>

                <div class="col">

                    <label for="exampleFormControlSelect1">Nombre</label>
                    <select id="nombre" style="border-radius: 40px" class="form-control" id="exampleFormControlSelect1">
                        <option></option>
                        <option>Agendamiento</option>
                        <option>Empleado</option>
                        <option>Vehiculo</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col">

                    <label for="exampleFormControlSelect1">Enlace</label>
                    <select id="enlace" style="border-radius: 40px" class="form-control" id="exampleFormControlSelect1">
                        <option></option>
                        <option>Empleado.hbs</option>
                        <option>Agendamiento.hbs</option>
                        <option>Cotizacion.hbs</option>
                    </select>

                </div>

                <div class="col">

                    <label for="exampleFormControlSelect1">Estado</label>
                    <select id="estado" style="border-radius: 40px" class="form-control" id="exampleFormControlSelect1">
                        <option>Activo</option>
                        <option>Inactivo</option>
                    </select>
                </div>

            </div>

        </div>
        <div class="d-flex justify-content-center text-center">
            <button style="border-radius: 40px" type="submit" class="btn btn-primary" id="botoncito"><i
                    class="fa-solid fa-pen"></i>Editar</button>
            <script>
                function editar(event) {

                    event.preventDefault();
                    let idPermiso = document.getElementById('idPermiso').value
                    let nombre = document.getElementById('nombre').value
                    let enlace = document.getElementById('enlace').value
                    let estado = document.getElementById('estado').value

                    if (idPermiso == '' || nombre == '' || enlace == '' || estado == '') {
                        Swal.fire('No se permiten campos vacios')
                    } else {

                        Swal.fire({
                            title: 'Estas seguro?',
                            text: "Editaras el siguiente permiso",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Aceptar'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                Swal.fire({
                                    icon: 'success',
                                    title: 'Permiso editado con exito',
                                    showConfirmButton: false,
                                })
                                setTimeout(() => {
                                    window.location.replace('/permisos');
                                }, 2000)

                            }
                        })
                    }
                } 
            </script>
    </form>
</div>




</div>